img {
  width: 150px;
  height: 150px;
}

#pokemon-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.pokemon-list-item {
  margin: 5px;
  position:relative;
}

.pokemon-name {
  width:100%;
  color:#FFFFFF;
  background-color:#000000;
  float:left;
  position:absolute;
  top:87%;
  left: 0px;
  text-align: center;
  opacity: 70%;
}

.pokemon-remove {
  position: absolute;
  top: 1%;
  left: 1%;
  color: white;
}

