<div class="pokemon-info-container">
  <div class="pokemon-info-container-center">
    <h1 id="pokemon-info-name"> {{pokemon.name}} </h1>
    <div id="pokemon-info-summary">
      <div id="pokemon-info-image">
      <img [src]="pokemon.imageurl">
    </div>
  <div id="pokemon-info-stats">
   <span> HP: </span> <app-stat-bar class="stat-bars" color={{pokemon.color[0]}} [max]=255 value=40> </app-stat-bar>
  </div>
  <p>
    {{pokemon.xdescription}}
  </p>
      <h2> Profile </h2>
    </div>
  </div>
</div>
