$primary: var(--primary-color, red);
$secondary: var(--secondary-color);
$dark: var(--primary-dark);

body {
  color: #FFFFFF;
}

.pokemon-info-container {
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, $primary 50%, $secondary 50%);
}

.pokemon-info-container-center {
  margin: auto;
  width: 50%;
  padding-top: 5%;
}

#pokemon-info-name {
  margin: auto;
  display: block;
  width: 50%;
  text-align: center;
  color: #fff;
  font-size: 24px;
  font-weight: 400;
  background: $dark;
  padding-top: 2%;
  padding-bottom: 2%;
}

#pokemon-info-summary {
  margin: auto;
  display: block;
  width: 50%;
  background: #fff;
  padding-top: 5%;
}

#pokemon-info-image {
  width: 30%;
  display: inline-block;
}

#pokemon-info-image img {
  width: 100%;
}

#pokemon-info-stats {
  width: 60%;
  display: inline-block;
  padding-left: 10%;
  padding-top: 10px;
}

#pokemon-info-stats span {
  margin-top: 10px;
  display: block;
}

#pokemon-info-summary h2 {
  color: #fff;
  font-weight: 400;
  width: 90%;
  margin: auto;
  background: $dark;
  padding-left: 2%;
}

.stat-bars {
  width: 45%;
  display: block;
  float: right;
  padding-right: 20px;
}

p {
  margin: 10px;
}

#pokemon-info-profile {
  display: flex;
  padding: 10px;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
}

.pokemon-info-box {
  width: 50%;
}

.pokemon-info-type {
  margin: 5px;
  padding: 5px;
  color: #fff;
}