<div class="pokemon-info-container">
  <div class="pokemon-info-container-center">
    <h1 id="pokemon-info-name"> {{pokemon.name}} </h1>
    <div id="pokemon-info-summary">
      <div id="pokemon-info-image">
      <span class="pokemon-info-type"  style="background-color: {{ pokemon.color[1] }};">  {{ pokemon.typeofpokemon[0] }}</span>
      <span *ngIf="pokemon.typeofpokemon.length > 1" class="pokemon-info-type"  style="background-color: {{ pokemon.color[0] }};">  {{ pokemon.typeofpokemon[1] }}</span>
      <img [src]="pokemon.imageurl">
    </div>
  <div id="pokemon-info-stats">
   <span> HP:  <app-stat-bar class="stat-bars" color={{pokemon.color[0]}} [max]=70 value={{pokemon.hp}}> </app-stat-bar> </span>
   <span> Attack: <app-stat-bar class="stat-bars" color={{pokemon.color[0]}} [max]=70 value={{pokemon.attack}}> </app-stat-bar>  </span>
   <span> Defense: <app-stat-bar class="stat-bars" color={{pokemon.color[0]}} [max]=70 value={{pokemon.defense}}> </app-stat-bar> </span>
   <span> Special Attack: <app-stat-bar class="stat-bars" color={{pokemon.color[0]}} [max]=70 value={{pokemon.special_attack}}> </app-stat-bar> </span>
   <span> Special Defense: <app-stat-bar class="stat-bars" color={{pokemon.color[0]}} [max]=70 value={{pokemon.special_defense}}> </app-stat-bar> </span>
   <span> Speed: <app-stat-bar class="stat-bars" color={{pokemon.color[0]}} [max]=70 value={{pokemon.speed}}> </app-stat-bar> </span>
   <span> Total: <app-stat-bar class="stat-bars" color={{pokemon.color[0]}} [max]=255 value={{pokemon.total}}> </app-stat-bar> </span>
  </div>
  <p id="pokemon-p">
    {{pokemon.xdescription}}
  </p>
      <h2> Profile </h2>
      <div id="pokemon-info-profile">
        <div class="pokemon-info-box"> <span> Height: </span> {{ pokemon.height }} </div>
        <div class="pokemon-info-box"> <span> Weight: </span> {{ pokemon.weight }} </div>
        <div class="pokemon-info-box"> <span> Cycles: </span> {{ pokemon.cycles }} </div>
        <div class="pokemon-info-box"> <span> Egg Groups: </span> {{ pokemon.egg_groups }} </div>
        <div class="pokemon-info-box"> <span> Gender: </span> {{ pokemon.male_percentage }} , {{ pokemon.female_percentage }} </div>
        <div class="pokemon-info-box"> <span> Base Exp: </span> {{ pokemon.base_exp }} </div>
         </div>
    </div>
  </div>
</div>
