<mat-card class="my-card">
<mat-card-content>
  <form [formGroup]="form" (ngSubmit)="register()" class="my-form">
     <mat-form-field class="full-width">
            <mat-label>First Name</mat-label>
            <input  matInput  formControlName="fname" placeholder="First name" name="fname" required>
         </mat-form-field>
         <mat-form-field class="full-width">
            <mat-label>Last Name</mat-label>
            <input  matInput  formControlName="lname" placeholder="Last Name" name="lname" required>
         </mat-form-field>
         <mat-form-field class="full-width">
            <mat-label>Address</mat-label>
            <input  matInput formControlName="address" placeholder="Address" name="address" required>
         </mat-form-field>
         <mat-form-field class="full-width">
            <mat-label>Email</mat-label>
            <input  matInput  type="email" formControlName="email" placeholder="Email" name="email" required>

         </mat-form-field>
         <mat-form-field class="full-width">
            <mat-label>Password</mat-label>
            <input  matInput  formControlName="password" placeholder="Password" name="password" required>
         </mat-form-field>

  <label class="radio-label">Gender:</label>
  <mat-radio-group formControlName="gender" name="gender">
    <mat-radio-button labelPosition="before" value="male">Male</mat-radio-button>
    <mat-radio-button labelPosition="before" value="female">Female</mat-radio-button>
  </mat-radio-group>
  <br>
    <button type="submit" mat-button color="primary" required>REGISTER</button>
</form>
</mat-card-content>
</mat-card>
