:host {
  background-color: #2196f3;
  display: block;
  height: 100%;
}

mat-card {
  margin: auto;
  width: 40%;
}

mat-form-field {
  width: 100%;
}

#formContent {
  margin: auto;
  width: 70%;
}
